.form {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  padding-top: 2rem;
  column-gap: 2rem;

  .formDivider {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .textArea {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: bold;
    }
    textarea {
      resize: none;
      height: 5rem;
      border-radius: 0.5rem;
      border: none;
      outline: 2px solid gray;
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
    }
  }

  input[type="submit"] {
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.8rem;
    color: #fff;
    transition: transform 0.2s;
    border: none;
    cursor: pointer;
    &:hover {
      transform: translateY(-2px);
    }
  }
}

@media (max-width: 992px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2.5rem;
  }
}
