.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 40rem;
  padding: 3rem;
  border-radius: 1.5rem;
  box-shadow: 0 0 3rem 0.8rem gray;
}

.signUpForm {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.signUpForm input {
  padding: 0.8rem 1.5rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  outline: 2px solid gray;
  margin-bottom: 0.8rem;
  margin-top: 1.5rem;
  border: none;
  width: 100%;
}

.signUpForm input[type="submit"] {
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-accent);
  border: 2px solid transparent;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px var(--color-primary);
    color: var(--color-primary);
    background-color: var(--color-accent);
    border: 2px solid var(--color-primary);
  }
}

fieldset {
  border-radius: 0.8rem;
  border: 2px solid #0b385f;
}

legend {
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
  color: var(--color-primary);
}

.signUpForm .error {
  outline: 2px solid red;
  &.span {
    outline: none;
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
  }
}

.signUpForm .loginText {
  text-align: center;
  font-size: 1.8rem;
  line-height: 3rem;
  a {
    font-weight: 600;
    color: var(--color-primary);
    text-decoration: none;
  }
}

@media (max-width: 991.98px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 767.98px) {
  .wrapper {
    width: 90%;
    padding: 1rem;
  }
  fieldset {
    width: 100%;
  }
}
